# Emacs
*~
*.elc
.dir-locals.el
.personal.el
auto-save-list/
elpa/
games/
.emacs.desktop*
.directory
*.org#
bm-repository
ido.last
recentf
bookmarks
speed-type/
server/server
abbrev_defs
transient/history.el
/.org-id-locations
/org-roam.db
/custom.el
network-security.data
history
places
/secret.el
/request/
/#*.*#
/.ratpoison.desktop
/rats-secret.el
/.last-package-update-day
