;; "en" is English in a broad sense, both American and British
;; If you want to be more specific, try "en_US", "en_GB", or whatever
;; specific language you want to spell check for
(defconst my-dictionary "en")

;; The theme can be "light" or "dark"
;; When changing this variable, you probably need to go to "init.el" and
:: run "M-x eval-buffer" to remove garbage colors from previous theme
(defconst my-theme-shade "dark")

;; The following is used for the Merriam-Webster thesaurus look-up extension
;; This setting is optional!
;; If you don't want to register, you can use the mw-thesaurus API key
;;    Register free account at Merriam-Webster’s Developer Center
;;    Obtain a key for Merriam-Webster Thesaurus
;;    Set the variable to the value of your new key, and un-comment the next line
;;(defconst my-mw-api-key "YOUR-API-KEY")

(defconst my-bookmarks "~/Dropbox/bookmarks")

(defconst my-bloglist
      '(("Blog Title"
         :url "https://myblog.wordpress.com/xmlrpc.php"
         :username "username")))

(defconst my-org-clock-sound "~/.emacs.d/res/siren.wav")

(defconst my-org-directory "~/Dropbox/skriv")

(defconst my-org-capture-notes "~/Dropbox/skriv/notes.org")

(defconst my-org-roam-directory "~/RoamNotes")

(setq my-org-tracktable-daily-goal 1000)

(setq my-font-size 130)  ;base font size. Try 150 or 170 if too small
;; choose fonts that you have installed, fixed width is mono spaced
;; Courier New, DejaVu Sans Mono
(defvar my-fixed-font-family "DejaVu Sans Mono") 
;; ETBembo, Bookman BT, Merriweather, Trebuchet MS, Open Sans, Comic Sans MS, Garamond, Times New Roman, Century Schoolbook
(defvar my-variable-font-family "Arial") 

;; use boon? If so, use t instead of nil
(setq my-use-boon nil)

(setq my-line-spacing 6)
