(defconst my-default-dictionary "en_US")

(defconst my-bookmarks "~/Dropbox/bookmarks")

(defconst my-bloglist
      '(("Blog Title"
         :url "https://myblog.wordpress.com/xmlrpc.php"
         :username "username")))

(defconst my-org-clock-sound "~/.emacs.d/res/siren.wav")

(defconst my-org-capture-notes "~/Dropbox/skriv/notes.org" "Notes")

(defconst my-org-roam-directory "~/RoamNotes")

