(defconst my-default-dictionary "en_US")

(defconst my-bookmarks "~/Dropbox/bookmarks")

(defconst my-bloglist
      '(("Blog Title"
         :url "https://myblog.wordpress.com/xmlrpc.php"
         :username "username")))

(defconst my-org-clock-sound "~/.emacs.d/res/siren.wav")

(defconst my-org-directory "~/Dropbox/skriv")

(defconst my-org-capture-notes "~/Dropbox/skriv/notes.org")

(defconst my-org-roam-directory "~/RoamNotes")

(setq my-org-tracktable-daily-goal 1000)

;; base font size. Try 130 or 150 if too large
(setq my-font-size 170)

;; use boon? If so, use t instead of nil
(setq my-use-boon nil)
